/* --------------= Mobile View =-------------- */
   /* -----------= General CSS =----------- */


/* -----------= Testing classes CSS =----------- */

/* -----------= General classes CSS =----------- */

/* ----------= Collection class CSS =--------- */
.collection_box:hover {
    cursor: pointer;
}

.collection_box {
    max-width: 30rem;
    border-radius: .25rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),
    0 4px 6px -2px rgba(0,0,0,.05);
    margin: 1em
}
.collection_info {
    margin: 0;
    padding: 1rem 1.5rem;
}
.collection_img {
    width: 100%;
    margin: 0;
    border-radius: .25rem .25rem 0 0;
}
.collection_h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: #000;
}

.collection_p{
    color: #000;
}

.banner__img{
    width: 21em;
}

/* --------------= Desktop View =-------------- */
@media only screen and (min-width: 1200px){
    /* -----------= General CSS =----------- */

    /* -----------= Testing classes CSS =----------- */

    /* -----------= General classes CSS =----------- */
    .container {
        width: 90%;
        margin: auto;
    }

    /* ----------= Collection class CSS =--------- */

}
